body {
  margin: 0;
  background-color: rgb(40, 45, 53);
  font-family: Inter, sans-serif;
}

.nav-items {
  display: flex;
  background-color: rgb(33, 34, 42);
  padding: 30px 25px;
  height: 40px;
  align-items: center;
  color: aliceblue;

}

.nav-items > h1 {
  padding: 10px;
  color: rgb(94, 212, 244);
  margin-right: auto;
}

.main-component {
  padding: 57px 27px;
  color: aliceblue;
  background-image: url(./logo192.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main-component>h1{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.03em;
  
}


.main--facts {
  margin-top: 46px;
  max-width: 400px; /* sets max width for content */
}

.main--facts>li{
  padding-block: 10px; /* add spaces between lines */
}

li::marker {
  color:  rgb(94, 212, 244);
  font-size: 2rem;
}
